@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: white;
  text-align: center;
}

nav a {
  margin: 0 1em;
  padding: 1em;
  border-radius: 1em;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 3vh;
}

nav {
  padding: 35px;
  background: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 3vh;
}

button {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  align-items: center;
  background-color: lightgray;
  padding: 1em;
  border-radius: 1em;
}

h1 {
  font-size: 5vh;
}

h2 {
  font-size: 3vh;
}

p {
  font-size: 3vh;
}

h2.answer {
  font-family: "Raleway", sans-serif;
  align-items: center;
  color: white;
  background-color: lightgray;
  padding: 1em;
  border-radius: 1em;
  font-size: 3vh;
}

div.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

#dogLogo {
  height: 20vh;
  align-items: center;
}

#illustrations {
  height: 35vh;
}

img {
  height: 300px;
  margin: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
