.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: white;
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
}

nav a {
  margin: 0 10px;
  padding: 10px;
  border-radius: 8px;
  background: black;
  color: white;
  font-weight: bold;
}

nav {
  padding: 35px;
  background: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
